 body {
     font-family: 'Montserrat', sans-serif;
 }

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 58px;
    font-weight: 700;
    line-height: 137.93%;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 44px;
    font-weight: 700;
    line-height: 120%;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 142.5%;
}

h4 {
    font-family: 'Poppins', sans-serif;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
}

p {
    font-family: 'Montserrat',sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 158.33%;
}

a {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 175%;
}

button {
    font-family: 'Montserrat', sans-serif;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
}

.footerItem{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 150%;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}





